<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="/menus/558ee5a3ae911dcf42d985b5/558fe100dfcb5bfa14070d86">
	<input type="text" name="date"/>
	<input type="submit" value="lala"/>
</form>
</body>
</html>