<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="/restaurateur/addresto">
	<input type="text" name="name"/>
	<input type="text" name="adresse"/>
	<input type="text" name="tel"/>
	<input type="submit" value="go"/>
</form>
</body>
</html>